shop/article.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
<xs:element name="getArticleRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getArticleResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Article" type="tns:Article"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteArticleRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteArticleResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Article" type="tns:Article"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateArticleRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="newid" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="partId" type="xs:long"/>
<xs:element name="pcpartid" type="xs:long"/>
<xs:element name="manufacturer" type="xs:string"/>
<xs:element name="pcpartname" type="xs:string"/>
<xs:element name="price" type="xs:string"/>
<xs:element name="type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateArticleResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Article" type="tns:Article"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addArticleRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="partId" type="xs:long"/>
<xs:element name="pcpartid" type="xs:long"/>
<xs:element name="manufacturer" type="xs:string"/>
<xs:element name="pcpartname" type="xs:string"/>
<xs:element name="price" type="xs:string"/>
<xs:element name="type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addArticleResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="Article" type="tns:Article"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="Article">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="partId" type="xs:long"/>
<xs:element name="part" type="tns:PcPart"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PcPart">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="manufacturer" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="price" type="xs:string"/>
<xs:element name="type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="updateArticleRequest">
<wsdl:part element="tns:updateArticleRequest" name="updateArticleRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteArticleResponse">
<wsdl:part element="tns:deleteArticleResponse" name="deleteArticleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateArticleResponse">
<wsdl:part element="tns:updateArticleResponse" name="updateArticleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="addArticleRequest">
<wsdl:part element="tns:addArticleRequest" name="addArticleRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="addArticleResponse">
<wsdl:part element="tns:addArticleResponse" name="addArticleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteArticleRequest">
<wsdl:part element="tns:deleteArticleRequest" name="deleteArticleRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getArticleRequest">
<wsdl:part element="tns:getArticleRequest" name="getArticleRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getArticleResponse">
<wsdl:part element="tns:getArticleResponse" name="getArticleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ArticlesPort">
<wsdl:operation name="updateArticle">
<wsdl:input message="tns:updateArticleRequest" name="updateArticleRequest"> </wsdl:input>
<wsdl:output message="tns:updateArticleResponse" name="updateArticleResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteArticle">
<wsdl:input message="tns:deleteArticleRequest" name="deleteArticleRequest"> </wsdl:input>
<wsdl:output message="tns:deleteArticleResponse" name="deleteArticleResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="addArticle">
<wsdl:input message="tns:addArticleRequest" name="addArticleRequest"> </wsdl:input>
<wsdl:output message="tns:addArticleResponse" name="addArticleResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getArticle">
<wsdl:input message="tns:getArticleRequest" name="getArticleRequest"> </wsdl:input>
<wsdl:output message="tns:getArticleResponse" name="getArticleResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ArticlesPortSoap11" type="tns:ArticlesPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="updateArticle">
<soap:operation soapAction=""/>
<wsdl:input name="updateArticleRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="updateArticleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteArticle">
<soap:operation soapAction=""/>
<wsdl:input name="deleteArticleRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deleteArticleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addArticle">
<soap:operation soapAction=""/>
<wsdl:input name="addArticleRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="addArticleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getArticle">
<soap:operation soapAction=""/>
<wsdl:input name="getArticleRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getArticleResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ArticlesPortService">
<wsdl:port binding="tns:ArticlesPortSoap11" name="ArticlesPortSoap11">
<soap:address location="http://localhost:5000/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>